:root {
  --white-color: white;
  --black-color: black;
  --gray-200-color: rgb(229 231 235);
  --gray-500-color: rgb(107 114 128);
  --gray-700-color: rgb(55 65 81);
  --green-color: rgb(34 197 94);
  --red-color: rgb(239 68 68);
  --blue-color: rgb(59 130 246);
}